.art-title {
	color:#231f20; 
	font-size:20px; 
	font-weight:700;
}

.artist-data {
	width:100%; 
	padding-bottom: 25px;
	/*border: 1px solid red;*/
}

.artst-pic {
	width:33%;
	position: relative;
}

.artst-pic span a {
	color: #fff; 
	font-size: 16px; 
	display: none;
}

.artst-pic span.artst-like {
	position: absolute; 
	left: 11%; bottom: 10px;
}

.artst-pic span.artst-share {
	position: absolute; 
	left:46%; 
	bottom: 10px;
}
.artst-pic span.artst-plus {
	position: absolute; 
	right: 9%; 
	bottom: 10px;
}

.artst-prfle {
	width:63%;
}

.artst-prfle span.artst-sub {
	font-size:15px; 
	color:#bbb; 
	float:left; 
	width:100%; 
	font-weight:normal; 
	padding:5px 0;
}

.artst-prfle span.artst-sub span.byname {
	font-weight:700; 
	color:#aaa;
}

.artst-prfle span.artst-sub span.daysago {
	float:right; 
	font-size:12px;
}

.counter-tab {
	float: left; 
	width: 100%; 
	padding-top: 45px;
}

.counter-tab div {
	float: left; 
	width: 33%; 
	color: #aaa; 
	font-size: 12px;
}

.bot-links {
	float: left; 
	width: 100%; 
	padding-top: 10px;
}

.bot-links a {
	display: inline-block; 
	padding: 5px 10px; 
	background: #ccc; 
	font-size: 18px; 
	margin-bottom: 5px; 
	color: #1d809f; 
	text-decoration:none;
}

span.play-icon {
	position: absolute; 
	left: 31%; 
	top: 32%; 
	display: none;
}

.artst-pic:hover img.play-icon, .artst-pic:hover span a {
	display: block; 
}


