*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to avoid overflowing elements*/
	/*box-sizing: content-box; default box-sizing*/
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}


body {
	background-color: black;
}

.navbar-default {
	/*background-color: #1CABB4;/*natural enthusiasm*/
	border-radius: 0;
	/*border-color: #1CABB4;natural enthusiasm*/
}	

.navbar {
    margin-bottom: 0;
  }

 b, strong,
 .navbar-default .navbar-nav>li>a,
 .work .nav-tabs>li>a {
  	color: #D2D2D2;
 }

.home {
	margin: 0 auto;
	height: 600px;
	/*background-color: #F1FFEFblue white*/
	background: url(../img/bg-portfolio.jpg);
	background-size: cover;
	background-position: bottom right;
	background-attachment: fixed;
	position: relative;
}

#home-section {
	color: #fefefe;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#home-section>h1, h6{
	margin-bottom: 20px;
}

#home-section>.btn {
	background-color: #F22E55;
	border-radius: 15px;
	border: 0;
	padding: 5px 10px;
	margin-top: 10px;
}

.work {
	height: auto;
	/*background-color: #5B88A5/*blue*/
}

#work-section {
	padding:  20px 0;
}

.thumbnail {
	background-color: transparent;
}



.nav-tabs {
	border: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #d2d2d2;
    cursor: default;
    background-color: #f22e55;
    border: 0;

}



.about {
	height: 600px;
	background-color: #F4F4F2/*wisp*/
}

.contact {
	height: 600px;
	background-color: #D4CDC5/*steam4*/
}

.footer {
	height: 100px;
	background-color: #27242B/*gris*/
}

.footer-section {
	text-align: center;
	color: #fefefe;
	padding: 10px;
}